@{
    ViewBag.Title = "ScheduleReport";
}

@model Enzigma.Platform.Web.UI.PlatformPageContext
@using Enzigma.Platform;
@using Enzigma.Platform.Objects;
@{
	Report report = Engine.RetrieveById((String)Model.Session.Id, (String)Model.Data["params"]["Id"]).Data as Report;
	if(report != null)
	{
		<h2>report.Name</h2>
	}
}
