@{
	ViewBag.Title = "Test";
}

@model Enzigma.Platform.Web.UI.PlatformPageContext
@using Enzigma.Platform;
@using Enzigma.Platform.Objects;
@using Enzigma.Platform.Web.UI;
@{
	<div id="ApiTesterApp" ng-app="ApiTesterApp" ng-controller="ApiTesterControler" >
		<div class="actionbar">
			<button ng-click="test(page)" type="button" class="pure-button pure-button-primary">Test</button>
		</div>


		<div id="error" class="message-error"></div>
		<div id="tabs">
			<ul>
				<li><a href="#request">Request</a></li>
				<li><a id="responseTab" href="#response">Response</a></li>
			</ul>
			<div id="response">
				<div>
					<label for="url">Headers</label>
					<div style="height: 100px; overflow:auto;">
						<div ng-repeat="(key,val) in responseHeaders">{{key}}:{{val}}</div>
					</div>
					<div id="preview" ui-ace="{mode: 'json'}" ng-model="preview">
					</div>
				</div>
			</div>
			<div id="request">
				<form class="pure-form pure-form-stacked">
					<fieldset>
						<div class="pure-u-1-6" style="width: auto">
							<label for="url">Method</label>
							<select ng-model="method">
								<option>GET</option>
								<option>POST</option>
							</select>
						</div>
						<div class="pure-u-7-8">
							<label for="url">Url</label>
							<input id="url" ng-model="url" type="text" placeholder="Url" style="width: 100%;" />
						</div>
						<div>
							<label for="headers">Headers</label>
							<textarea id="headers" ng-model="requestHeaders" style="width: 100%;" placeholder="Headers"></textarea>
						</div>
						<div>
							<label for="body">Body</label>
							<div id="body" ui-ace="{mode: 'json'}" ng-model="body"></div>
						</div>
					</fieldset>
				</form>
			</div>

		</div>

	</div>


	<script lang="javascript">
		resize = function () {
			var height = $(window).innerHeight() - $('#body').offset().top - 30;
			$("#body").height(height);

			height = $(window).innerHeight() - $('#preview').offset().top - 30;
			$("#preview").height(height);
		}
		$(function () {
			$("#tabs").tabs();
			$("ul.ui-tabs-nav").append($(".actionbar"));
			$(window).resize(resize);
		});

		//var ApiTesterApp = angular.module('ApiTesterApp', ['ui.ace']);
		var ApiTesterApp = angular.module('ApiTesterApp', []);
		ApiTesterApp.config(function ($httpProvider) {
			$httpProvider.defaults.headers.common['Content-Type'] = 'application/json';
		});

		ApiTesterApp.controller("ApiTesterControler", function ($scope, $http, $timeout) {
			$scope.method = 'GET';
			$scope.url = Engine.PlatformPath + '/api/data?query=select username from [user]';
			$scope.requestHeaders = 'Content-Type:application/json';
			$scope.body = '';

			$scope.test = function (page) {
				$http({
					method: $scope.method,
					url: $scope.url,
					data: $scope.body,
				}).success(function (data, status, headers, config) {
					$scope.status = status;
					$scope.responseHeaders = headers();
					$scope.preview = JSON.stringify(data, null, 2);
					$("#responseTab").click();
					$timeout(resize, 100);
				}).
			error(function (data, status, headers, config) {
				$scope.status = status;
				$scope.responseHeaders = headers;
				$scope.preview = data;
				$("#responseTab").click();
			});
			};
		});

	</script>
}