@{
	ViewBag.Title = "View - " + Model.Data.Record.Name;
}

@model Enzigma.Platform.Web.UI.PlatformPageContext
@using Enzigma.Platform.Objects;
@using Enzigma.Platform.Web.UI;

<form class="pure-form">
	<button type="button" class="pure-button pure-button-primary" onclick="javascript:window.open('@SystemVars.ApplicationPath/r/@Model.Data.Record.Prefix/c');" >Create New @Model.Data.Record.Name</button>
</form>

<div ng-app="App">
@Model.Controls.ngListView("View", (String)Model.Data.DisplayFields, (String)Model.Data.Record.Name, "")
@*@Model.Controls.fooListView("View", (String)Model.Data.DisplayFields, (String)Model.Data.Record.Name, "IsSystemField = 0")*@
@*	@Model.Controls.ngListView("Objects", "Prefix", "ObjectDef", "")*@
</div>