@{
    ViewBag.Title = "MochaTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Enzigma.Platform.Objects;
<link rel="stylesheet" href="@SystemVars.CDNBaseUrl/css/mocha/mocha.css" />
<script src="@SystemVars.CDNBaseUrl/js/mocha/mocha.js" type="text/javascript" ></script>
<script src="@SystemVars.CDNBaseUrl/js/should/should.js" type="text/javascript" ></script>
<script src="@SystemVars.CDNBaseUrl/js/unittest/enginetest.js" type="text/javascript" ></script>

<h2>MochaTest</h2>

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <script>
        var mochaModule = angular.module('mochaModule', []);
       mochaModule.controller('mochaController', function($scope){
           $scope.fieldArray;
           $scope.strFieldClauses = ['ObjectName','DisplayAs','Length'];
           Engine.get(Engine.AppPath + '/api/data?query=SELECT * FROM [FieldDef]', function(error){ 
               $scope.fieldArray = error.Data;
               angular.forEach($scope.fieldArray, function(currentObject){
                   debugger;
                   var finalresult = $scope.getDictionary(currentObject, 0);
                   console.log (finalresult);
               });
           });
           $scope.getDictionary = function(obj, iIndex)
           {
               if(iIndex == $scope.strFieldClauses.length)
               {
                   var strKey = obj[$scope.strFieldClauses[iIndex]];
                   return {strKey : obj };
               }
               else{
                   var strKey = (obj[$scope.strFieldClauses[iIndex]] instanceof String) ? obj[$scope.strFieldClauses[iIndex]] : obj[$scope.strFieldClauses[iIndex]].Name;
                   var dic = {};
                   dic[strKey] = obj;
                   $scope.getDictionary(dic , ++iIndex);
               }
           }
       });
    </script>  
</head>
<body>
  <div id="mocha" ng-app="mochaModule" ng-controller="mochaController"></div>
  @*<script>mocha.run();</script>*@
</body>
</html>