@{
    ViewBag.Title = "MY PROFILE";
}
<style>
    #content
    {
        margin: auto;
        width: 90%;
        background-color: gray;
        font-family: Arial;
        margin-top: 2em;
    }

    .ui-widget-header
    {
        background-color: grey;
        border: none;
    }

    #wrapper
    {
        width: 100%;
        margin: auto;
        min-width: 800px;
        height: 637px;
        /*text-align:center;*/
    }

    #sections
    {
        border: 1px solid #eeeeee;
        min-height: 150px;
        /*background-color: #fff;*/
        opacity: 0.5;
        border-bottom: none;
    }

    button
    {
        background: #ffaa31;
        color:#fff;
    }

    /*div.section
    {
        min-height: 300px;
    }*/

    div.actionbar
    {
        position: absolute;
        padding-top: 15%;
        width: 90%;
        text-align: center;
        background-color: #fff;
        opacity: 0.7;
    }
</style>
<script>
    $(document).ready(function () {
        //$('.actionbar').css('display', 'none');
        $('div[class^="ng-binding"]').css('background-color', '#FFAA31');
        $('div[class^="ng-binding"]').css('color', 'white');
        //$('div[class^="section ng-scope"]').append('<div class="actionbar"><div style="margin-left:auto;margin-right:auto;width:300px;text-align:center"><button ng-disabled="!isOneOrMoreFieldDirty || isOneOrMoreRequiredFieldMissing" ng-click="Save()" disabled="disabled">Save</button><button ng-disabled="!isOneOrMoreFieldDirty" ng-click="Cancel()" disabled="disabled">Cancel</button></div></div>');
        //$('div[id$=sections]').css('background-color', 'white');
        //$('div[id$=sections]').css('opacity', '0.6');
    });
</script>
@model Enzigma.Platform.Web.UI.PlatformPageContext
@Model.Controls.PageView("MyProfile", Model.Session.LoggedInUser.Id, Enzigma.Platform.Objects.EnumAction.View, null)