@{
	ViewBag.Title = "RESET PASSWORD";
}

@using Enzigma.Platform.Objects;
@using Enzigma.Platform;

@model Enzigma.Platform.Web.UI.PlatformPageContext
<div>
	<div ng-app ng-controller="ResetPasswordController">

		<div class="div-reset">
			<br />
			<br />
			<label style="font-family: Open Sans; color: #B6B6B6;">@ViewBag.Title</label>
			<div id="errorMessage" style="margin: 5px;"></div>
			<br />
			<div style="text-align: center;">
				<div ng-show="!success">
					<div class="field" ng-hide="SecurityQuestion">
						<form>
							<label for="username" style="float: left; padding-top: 0.5em;">Username : </label>
							<input type="text" name="username" class="yui3-u-1-4" style="width: 70%;" ng-model="Username" />
							<br />
							<br />
							<input type="submit" ng-click="RetrieveQuestion()" class="btnOrange" value="Reset" />
						</form>
					</div>
					<form>
						<div class="field" ng-show="SecurityQuestion">
							<label for="name" style="float: left;">Security Question </label>
							<span style="float: left; margin-left: 0.5em;">{{SecurityQuestion}}</span><br />
						</div>
						<br />
						<div class="field" ng-show="SecurityQuestion">
							<label style="float: left; padding-top: 0.5em;" for="securityquestion">Security Answer </label>
							<input style="width: 65%" name="securityquestion" type="password" class="yui3-u-1-4" ng-model="SecurityAnswer" /><br />
							<br />
							<input type="submit" ng-click="SendLink()" class="btnOrange" value="Submit" />
						</div>
						<br />
					</form>
				</div>
				<hr />
				<br />
			</div>
		</div>
	</div>
	<script lang="javascript">
		function ResetPasswordController($scope, $http) {

			$scope.Username = '';
			$scope.SecurityQuestion = '';
			$scope.SecurityAnswer = '';
			$scope.RetrieveQuestion = function () {
				$scope.ErrorMessage = '';
				Engine.post('@SystemVars.PlatformPath/api/identity', { action: 'SecurityQuestion', Data: { UserName: $scope.Username } },
				function (error) {
					if (error.Success) {
						$scope.SecurityQuestion = error.Data.SecurityQuestion;
						$scope.ErrorMessage = '';
					}
					else {
						$scope.ErrorMessage = error.ErrorMessage;
						$("#errorMessage").html(error.ErrorMessage).errorMessage();
					}
					$scope.$apply();
					HideProcessing();
				}
			);
			}
			$scope.SendLink = function () {
				$scope.ErrorMessage = '';
				Engine.resetMyPassword($scope.Username, $scope.SecurityAnswer,
		  function (error) {
		  	if (error.Success) {
		  		$scope.ErrorMessage = error.ErrorMessage;
		  		$scope.success = true;
		  		$("#errorMessage").html(error.ErrorMessage).infoMessage();
		  	}
		  	else {
		  		$scope.ErrorMessage = error.ErrorMessage;
		  		$("#errorMessage").html(error.ErrorMessage).errorMessage();
		  	}
		  	$scope.$apply();
		  	HideProcessing();
		  }
	  );
			}
		}

		$(document).ready(function () {
			$("#toolbar").hide();
		});

	</script>
