@{
    ViewBag.Title = "SET PASSWORD";
}

@using Enzigma.Platform;
@using Enzigma.Platform.Objects;
@using Enzigma.Platform.Web.UI;
@{
    <div ng-app ng-controller="ResetPasswordController" class="controllerClass">
        <div class="resetPasswordDiv">
            <div class="field">
                <label class="inline yui3-u-1-8"></label>
                <span id="errorMessage" class="yui3-u-1-4" ng-show="ErrorMessage">{{ErrorMessage}}</span>
            </div>
            <div ng-hide="success">
                <div class="field">
                    <label class="inline yui3-u-1-8">Security Question</label>
                    <select class="yui3-u-1-4" ng-model="data.SecurityQuestion" required ng-options="q for q in SecurityQuestions"></select>
                </div>
                <div class="field">
                    <label class="inline yui3-u-1-8">Security Answer</label>
                    <input type="password" class="yui3-u-1-4" required ng-model="data.SecurityAnswer" />
                </div>
                <div class="field">
                    <label class="inline yui3-u-1-8">New Password</label>
                    <input type="password" class="yui3-u-1-4" required ng-model="data.NewPassword" />
                </div>
                <div class="field">
                    <label class="inline yui3-u-1-8">Confirm Password</label>
                    <input type="password" class="yui3-u-1-4" required ng-model="data.ConfirmPassword" />
                </div>
                <div>
                    <label class="inline yui3-u-1-8"></label>
                    <button ng-click="SavePassword()" class="btnOrange" ng-disabled="!data.SecurityQuestion || !data.SecurityAnswer || !data.NewPassword || data.NewPassword != data.ConfirmPassword">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <script lang="javascript">
        function ResetPasswordController($scope, $http) {
            $scope.success = false;
            $scope.data = @Html.Raw(Enzigma.Platform.Objects.JsonObject.Serialize(Model));
            var picklist = @Html.Raw(Enzigma.Platform.Objects.JsonObject.Serialize(Enzigma.Platform.Engine.RetrieveSystemPicklist("SecurityQuestions", String.Empty).Data));
            $scope.SecurityQuestions = (picklist && picklist.PickListValues) ? picklist.PickListValues.split(';') : ['No Question Found'];
            $scope.SavePassword = function () {
                $scope.ErrorMessage = '';
                Engine.setPassword($scope.data,
				    function (error) {
				        if (error.Success) {
				            $scope.success = true;
				            $scope.ErrorMessage = error.ErrorMessage;
				            $("#errorMessage").html(error.ErrorMessage).infoMessage();
				            setTimeout(function () {window.location = '@SystemVars.ApplicationPath';} , 1000 );
                        }
                        else {
                            $scope.ErrorMessage = error.ErrorMessage;
                            $("#errorMessage").html(error.ErrorMessage).errorMessage();
                        }
				        $scope.$apply();
				    }
			    );	
            }
            }
            $(document).ready(function () {
                $("#toolbar").hide();
            });
    </script>
}