@{
	ViewBag.Title = "Test Page";
}

<div ng-app="controls" ng-controller="Record">
	<form name="formRecord">
		<div class="pure-g-r">
		<div class="pure-u-1-2" enz-field field="Name" ng-model="record" form="formRecord"></div>
		<div class="pure-u-1-2" enz-field field="DisplayAs" ng-model="record" form="formRecord"></div>
		<div class="pure-u-1-2" enz-field field="ObjectName" ng-model="record" form="formRecord"></div>
		<div class="pure-u-1-2" enz-field field="Length" ng-model="record" form="formRecord"></div>
		</div>
	</form>
@*	<div enz-record ng-model="record" fields="fields" ></div>*@
	@*<div enz-record ng-model="record" ></div>*@
	@*<div>
		<datepicker ng-model="date" disable-timepicker="true"></datepicker>
	</div>*@
</div>

@model Enzigma.Platform.Web.UI.PlatformPageContext
@using Enzigma.Platform;
@using Enzigma.Platform.Objects;

<script lang="javascript">
	var controls = angular.module("controls", ["enz.controls"]);
	function Record($scope, $element, $compile) {
		var result = @Html.Raw(JsonObject.Serialize(Engine.Query(Model.Session.Id, "Select * From [FieldDef] Where ObjectName = 'FieldDef' and Name = 'Name'", DeletedOption.NonDeletedOnly).Data))
		$scope.record = result[0];

		$scope.fields = [{Name: 'CreatedOn', IsSystemField : false}];

		$scope.displayButtons = [];
		$scope.displayButtons.push({ Label: 'Test', action: $scope.test });
	}
</script>
